@charset "utf-8";

@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Katuri';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nav {
    width: 99vw;
    height: 15vh;
    font-family: 'Katuri';
    font-size: large;
}

.logo {
	width: 40%;
	cursor: pointer;
}

.nav-inner {
	display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-inner span {
	cursor: pointer;
	margin-left: 2rem;
	font-size: 19px;
}