@charset "utf-8";

body {
	height: 100vh;
}

@media (min-width: 1200px)
.container {
    max-width: 1240px;
}

body>#main {
	background-color: #ffdbdb26;
	padding: 0px !important;
}

@font-face {
    font-family: 'Katuri';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.small-text {
	font-family: 'Katuri';
	color: #5b5b5b;
	font-size: large;
	font-weight: bold;
	padding: 8px 16px 8px 0px;
	border-radius: 50px;
	letter-spacing: 0.2px;
}

.main_btn_list {
	font-family: 'Katuri';
	font-weight: 100;
	display: flex;
}

.animated {
	font-family: 'Katuri';
	position: relative;
}

.animated-info {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	min-width: 260px;
	position: relative;
}

.animated-item {
	color: #f33e4f;
	width: 200%;
}

.animated-item {
	font-family: 'Katuri';
	font-size: 2rem;
	line-height: inherit;
	display: block;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	cursor: text;
	animation: BottomTotop 8s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 4s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 6s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.account-amount, .mileage-amount {
	font-size: 2rem;	
}

button {
	position: relative;
	margin: 0;
	padding: 5px 12px;
	height: 60px;
	width: 150px;
	outline: none;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
	background-color: #ffffff;
	border: 3px solid #ffd1d1;
	color: #5b5b5b;
	font-weight: bold;
	font-size: 22px;
	font-family: 'Happiness-Sans-Title';
	z-index: 0;
	overflow: hidden;
	transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
button span {
	color: #164ca7;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.7px;
}
button:hover {
	animation: rotate 0.7s ease-in-out both;
}
button:hover span {
	animation: storm 0.7s ease-in-out both;
	animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn-slide-line {
	border-radius: 30px;
}


@media (max-width: 991px) {
  .about-image {
    margin-top: 4em;
  }
}

.img-fluid {
	max-width: 90%;
	margin-left: 4rem;
}

@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }

  .about-text {
    text-align: center;
  }
}

/* 모달 */

.modal {
	top: 50%!important;
    left: 40%!important;
    transform: translate(-50%, -50%);
}

.modal-dialog {
	top: 5%;
}

.modal-body {
	border-radius: 4rem;
	display: flex;
	font-family: 'Happiness-Sans-Title';
}

.modal-content {
	-webkit-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
	-moz-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
	box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
}
.modal-content h1, .modal-content h2, .modal-content h3 {
    text-align: center;
}
.modal-content h1 {
	font-size: 1.3em;
	text-transform: uppercase;
}

.modal-content h2 {
    font-size: 1.1em;
}
.modal-content h3 {
  font-size: .8em;
  letter-spacing: 2px;
}
.modal-form {
	margin-top: 1.5rem;
    font-size: .9em;
}
.column {
  flex: 50%;
  padding: 10px;
}

.column#main-modal {
	flex: 55%;
    padding: 32px;
    margin-left: 30px;
    margin-right: 30px;
}

.pass-box {
	border-radius: 5px;
    width: 55px;
    height: 55px;
    margin-top: 10px;
    background-color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: x-large;
    line-height: 2.3;
}

.pass-num {
    height: 50px;
    background: #ffffff;
    border: 2px solid #ff9191;
    line-height: 2.8;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
}

.pass-num:hover {
	background-color: #ff9191;	
}

#secondary {
  background-color: #ffcaca;
  border-radius: 0 4rem 4rem 0;
  text-align: center;
}

#main-modal .form-control {
  font-size: 1.2em;
}

.btn:hover {
	background-color: #fff6a8;
}

.create-account {
    font-size: large;
    text-transform: uppercase;
    width: 60%;
    background-color: #ffcaca;
    border: 3px solid #ffcaca;
    color: white;
    border-radius: 30px;
    margin: 2rem auto 0px;
}

#main-modal .btn-primary {
  width: 100%;
}
#secondary .btn-primary {
  background: #f8f9fa4f;
  color: #000;
}
.modal-body label {
  margin-bottom: 0;
}

.modal-body input {
	border-radius: 5px;
	margin-top: 1rem;
}

.sec-content {
  margin-top: 12%;
}

#exampleInputPhone::-webkit-outer-spin-button,
#exampleInputPhone::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* 마일리지 구매 */

.mileage-shop {
	font-family: 'Happiness-Sans-Title';
	margin-top: 5rem;
    border: 5px solid #ffd1d1;
    border-radius: 20px;
}

.mileage-h3 {
	font-weight: bold;
}

.mileage-shopbtn {
	width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    font-size: large;
}


.mileage-history {
	margin-top: 5rem;
    border: 5px solid #ffd1d1;
    border-radius: 20px;
}

/* 히스토리 테이블 */
.fl-table {
	font-family: 'Katuri';
    display: block;
    width: 100%;
}
.table-wrapper:before{
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
}
.fl-table thead, .fl-table tbody, .fl-table thead th {
    display: block;
}
.fl-table thead th:last-child{
    border-bottom: none;
}
.fl-table thead {
    float: left;
}
.fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    line-height: 3;
}
.fl-table td, .fl-table th {
    padding: 20px .625em .625em .625em;
    height: 80px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
}
.fl-table thead th {
    text-align: center;
    font-size: large;
    border-bottom: 1px solid #f7f7f9;
	line-height: 2.3;
}
.fl-table thead th:nth-child(odd) {
    background: #ff8181;
}
.fl-table thead th:nth-child(even) {
    background: #e45656;
}
.fl-table tbody tr {
    display: table-cell;
}
.fl-table tbody tr:nth-child(odd) {
    background: none;
}
.fl-table tr:nth-child(even) {
    background: transparent;
}
.fl-table tr td:nth-child(odd) {
    background: #FFFAFA;
    border-right: 1px solid #E6E4E4;
}
.fl-table tr td:nth-child(even) {
	background: #ffffff;
    border-right: 1px solid #E6E4E4;
}
.fl-table tbody td {
    display: block;
    text-align: center;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

figure.snip1390 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #ffee56;
  border-radius: 15px;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2 {
  font-weight: bold;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1.3em;
  padding: 45px 30px 40px 30px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}


/* 마일리지 구매 2 */
.items {
  display: flex;
  justify-content: center;
  padding-left: 0px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(131.83deg, #FFFAFA 0%,     #FFF7F7 99.21%);
  width: 200px;
  text-align: center;
  height: 200px;
  border-radius: 16px;
  position: relative;
}

.item:not(:last-child) {
  margin-right: 90px;
}
.item::before {
  content: "";
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-image: linear-gradient(312.25deg, #FFC4BC 0%,     rgba(255, 255, 255, 0) 66.19%);
  z-index: -1;
  border-radius: 18px;
}

.inner {
	font-family: 'Katuri';
	background-color: #fff;
	width: 170px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 170px;
	box-shadow: 5px 5px 10px #fbe4e0;
	border-radius: 14px;
	cursor: pointer;
}

.name {
  font-size: x-large;
  margin: 0;
}


/* loading 화면 */
#loader-wrapper { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 2000; }
#loader { display: block; position: relative; left: 50%; top: 50%; width: 150px; height: 150px; margin: -75px 0 0 -75px; border-radius: 50%; border: 3px solid transparent; border-top-color: #3498db; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ z-index: 2001; }
#loader:before { content: ""; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border-radius: 50%; border: 3px solid transparent;
	border-top-color: #e74c3c; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }
#loader:after { content: ""; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border-radius: 50%; border: 3px solid transparent;
	border-top-color: #f9c922; /* Chrome, Opera 15+, Safari 5+ */ animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }
@keyframes spin {
	0%   {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section { position: fixed; top: 0; width: 51%; height: 100%; background: #ffffff; z-index: 2000;  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */ transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */}

#loader-wrapper .loader-section.section-left { left: 0; }

#loader-wrapper .loader-section.section-right { right: 0; }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;  
	transition: all 1s ease-out;
}
.loaded #loader-wrapper {
	visibility: hidden;  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.3s 1s ease-out;
}

.no-js #loader-wrapper { display: none; }


